<div class="container" ng-controller="DetailsCtrl as details">
    <h2>Post Details View</h2>
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <h2>{{details.post.title | uppercase}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{details.post.body}}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <h3>Comments Section</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                Order By:
                <select ng-model="details.sortby">
                        <option selected value="name">Name</option>
                        <option value="-voteCount">Votes</option>
                    </select>
            </div>
        </div>
        <br />
        <ul class="thumbnails list-group">
            <li class="list-unstyled" ng-repeat="comment in details.post.comments | orderBy: details.sortby">
                <div class="row">
                    <counter count="{{comment.voteCount}}" downvote="details.downVoteComment(comment)" upvote="details.upVoteComment(comment)"></counter>
                    <div class="well col-md-11">
                        <collapsible>
                            <h6>{{comment.email}}</h6>
                            <p>{{comment.body}}</p>
                        </collapsible>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>