<!DOCTYPE html>
<html data-ng-app="tApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
</head>

<body>
    <div ng-controller="Ctrl">
        <div>
            <input type="number" ng-model="forId">
            <button data-ng-click="add(forId)">Add Details</button>
        </div>
        <hr>
        <div data-ng-repeat="p in pics">
            <h3>{{p.title | uppercase}}</h3>
            <img ng-src="{{p.url}}" alt="{{p.id}}" width="60">
            <hr>
        </div>
    </div>
    <script src="./public/scripts/angular/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        angular.module('tApp', []);

        angular.module('tApp').factory('DataServiceFactory', function ($http, $q) {
            return {
                getPic: function (id) {
                    var deferred = $q.defer();

                    $http.get("http://jsonplaceholder.typicode.com/photos/" + id).then(function (response) {
                        deferred.resolve(response.data);
                    }, function (response) {
                        deferred.reject("Some Error");
                    });

                    return deferred.promise;
                }
            }
        })

        angular.module('tApp').controller('Ctrl', function ($scope, DataServiceFactory, $log) {
            $scope.pics = [];

            $scope.add = function(id){
                var dPromise = DataServiceFactory.getPic(id);
                dPromise.then(function (data) {
                    $scope.pics.push(data);
                }, function (msg) {
                    $log.error(msg);
                });
            }
        });
    </script>
</body>

</html>